body {
    background-color: rgb(218, 245, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* do navi bar (przerwa na gorze) */
}

p {
    text-align: center;
    font-size: 17px;
}

h1 {
    text-align: center;
}

/* form {
    text-align: center;
} */

.container {
    margin: auto;
    height: 250px;
    width: 500px;
    background-color: #8AB6D6;
    border-radius: 15px;
    display: grid;
    justify-content: center;

}


input[type=text] {
  border: 2px solid #3D84B8;
  border-radius: 8px;
}

#summary {
    display: flex;
    justify-content: center;
}

#search-section {
    margin-bottom: 20px;
    text-align: center;
}

/* .summary-section {
    margin-top: 0px;
} */

.hidden {
    visibility: hidden;
}
/* #searchBtn {
    gap: 2px;
} */

#searchBtn {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    padding: 3.1px 11px;
}

 #dupa {
    text-decoration: none;
 }

 /* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */


.topnav {
  overflow: hidden;
  background-color: #2978B5;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0061A8;
  color: white;
}