body {
    background-color: #aecce2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
}

p {
    text-align: center;
    font-size: 17px;
}

h1 {
    text-align: center;
}

input[type=text] {
  border: 2px solid #3D84B8;
  border-radius: 8px;
}

#summary {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;

}

#search-section {
    margin-bottom: 20px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

#searchBtn {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    padding: 3.1px 11px;
}

 #safeDrive {
    text-decoration: none;
 }

.topnav {
  overflow: hidden;
  background-color: #2978B5;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

.topnav a.active {
  background-color: #0061A8;
  color: white;
}

.container {
    height: 2.7rem;
    width: 10rem;
    background-color: #E8F0FE;
    border-radius: 7px;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#rows {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

#carRepair {
    display: flex;
    justify-content: center;
    margin-top: 2.6rem;
    margin-bottom: 0rem;
    font-size: 24px;
}

#karta-warsztatu{
    display: inline-table;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-top: 2rem;
    text-align: center;
    height: 17rem;
    width: 16rem;
    background-color: #E8F0FE;
    border-radius: 7px;
    font-size: 1.1rem;
    line-height: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#x {
    display: flex;
    justify-content: center;
}
